<div class="container-lg m-0 px-4 py-3 mx-auto">
    <div class="row d-inline-flex">
        <div class="col-sm-4 mb-3 app_item">
            <div class="card shadow-sm p-2 m-1 rounded" style="background-color: #E4F7EB;">
                <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Read More</button>
                </div>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder befIn publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder befIn publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder bef
                            In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder befIn publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder befIn publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder bef
                            In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder befIn publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder befIn publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder bef
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success">Go Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4 mb-3 app_item">
            <div class="card shadow-sm p-2 m-1 rounded" style="background-color: #E4F7EB;">
                <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <button href="#" class="btn btn-success">Read more</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3 app_item">
            <div class="card shadow-sm p-2 m-1 rounded" style="background-color: #E4F7EB;">
                <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <button href="#" class="btn btn-success">Read more</button>
                </div>
            </div>
        </div>
        {% comment %} <div class="col-sm-4 mb-3 app_item">
            <div class="card shadow-sm p-2 m-1 rounded" style="background-color: #E4F7EB;">
                <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <button href="#" class="btn btn-success">Read more</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3 app_item">
            <div class="card shadow-sm p-2 m-1 rounded" style="background-color: #E4F7EB;">
                <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <button href="#" class="btn btn-success">Read more</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3 app_item">
            <div class="card shadow-sm p-2 m-1 rounded" style="background-color: #E4F7EB;">
                <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <button href="#" class="btn btn-success">Read more</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3 app_item">
            <div class="card shadow-sm p-2 m-1 rounded" style="background-color: #E4F7EB;">
                <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <button href="#" class="btn btn-success">Read more</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3 app_item">
            <div class="card shadow-sm p-2 m-1 rounded" style="background-color: #E4F7EB;">
                <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <button href="#" class="btn btn-success">Read more</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3 app_item">
            <div class="card shadow-sm p-2 m-1 rounded" style="background-color: #E4F7EB;">
                <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <button href="#" class="btn btn-success">Read more</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3 app_item">
            <div class="card shadow-sm p-2 m-1 rounded" style="background-color: #E4F7EB;">
                <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <button href="#" class="btn btn-success">Read more</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3 app_item">
            <div class="card shadow-sm p-2 m-1 rounded" style="background-color: #E4F7EB;">
                <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <button href="#" class="btn btn-success">Read more</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3 app_item">
            <div class="card shadow-sm p-2 m-1 rounded" style="background-color: #E4F7EB;">
                <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <button href="#" class="btn btn-success">Read more</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3 app_item">
            <div class="card shadow-sm p-2 m-1 rounded" style="background-color: #E4F7EB;">
                <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <button href="#" class="btn btn-success">Read more</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3 app_item">
            <div class="card shadow-sm p-2 m-1 rounded" style="background-color: #E4F7EB;">
                <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <button href="#" class="btn btn-success">Read more</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3 app_item">
            <div class="card shadow-sm p-2 m-1 rounded" style="background-color: #E4F7EB;">
                <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <button href="#" class="btn btn-success">Read more</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3 app_item">
            <div class="card shadow-sm p-2 m-1 rounded" style="background-color: #E4F7EB;">
                <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <button href="#" class="btn btn-success">Read more</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3 app_item">
            <div class="card shadow-sm p-2 m-1 rounded" style="background-color: #E4F7EB;">
                <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <button href="#" class="btn btn-success">Read more</button>
                </div>
            </div>
        </div> {% endcomment %}
    </div>
</div>