{% load static %}

<html>
<head>
  <title>{% block title %}Be You{% endblock title %}</title>
  <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

{% block header %}
  {% include 'base_header.html' %}
{% endblock header %}

{% block main %}

{% endblock main %}

{% block footer %}
  {% comment %} {% block quicklinks %}{% endblock quicklinks %}
  {% block footer_logo %}{% endblock footer_logo %} {% endcomment %}
{% endblock footer %}



<!-- Script files -->
<script src="{%static 'bootstrap/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
<script src="{%static 'js/base_header.js' %}" type="text/javascript"></script>

</body>
</html>